@import "tailwindcss";

@font-face {
    font-family: 'Borsok';
    src: url('./assets/fonts/Borsok/Borsok.woff2') format('woff2'),
        url('./assets/fonts/Borsok/Borsok.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    /* Colores generales */
    --fondoGeneral: #ffffff;
    --textoGeneral: #2b2b2b;
    --textoSecundario: #3d3d3d;

    /* Color Botones */
    --fondoBoton: #2b2b2b;
    --textoBoton: #FAF8F4;

    /* Colores Card */
    --fondoCard: #e6e6e6;

}

.font-borsok{
    font-family: 'Borsok', sans-serif;
}
